body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 15px 0;
  border: 1px solid rgba(231, 231, 231, 0.664);
  padding: 15px 25px;
}

/*Helpers */
.mr-20 {
  margin-right: 20px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.error {
  color: red;
}

.col {
  height: 100vh;
  width: 100%;
}

.col-con {
  width: 100%;
}

.m-60 {
  margin: 60px auto;
}

.ml-20 {
  margin-left: 20px !important;
}

/*----------------------------------------------------------*/

.item-head {
  margin-bottom: 10px;
  font-weight: 700;
}

.grid-confirm {
  grid-template-columns: 1fr;
}

.grid-form {
  grid-template-columns: 1fr 1fr;
}

.col-right {
  background-image: url("./assets/arm.jpg");
  background-size: cover;
  background-position: center;
}

.input-field {
  width: 100%;
  margin-top: 5px;
}

input,
select,
textarea {
  width: 100%;
  border: 1px solid rgba(231, 231, 231, 0.664);
  border-radius: 3px;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #55a8fd;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:valid::before {
  display: none;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

select {
  background: none;
}

button {
  font-weight: 600;
  font-size: 12px;
  max-height: 40px;
  padding: 13px 10px;
  min-width: 190px;
  text-decoration: none;
  text-align: center;
  background: #55a8fd;

  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button:disabled {
  background: grey;
}

/*Wizard*/

.progress-line-numbers {
  margin: 80px auto 50px;
  position: relative;
  width: 90%;
  max-width: 830px;
  border-top: 1px dashed #eceef3;
}

.progress-line-box {
  width: 25px;
  height: 25px;
  background-color: white;
  position: absolute;
  top: -13px;
  font-size: 16px;
  font-size: 1rem;
  font-family: "AvenirNext-Demi", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #55a8fd;
  border: 1px solid #4893f5;
}

.complete-step {
  color: #fff;
  background: #55a8fd;
}

.progress-line-box:nth-of-type(1) {
  left: 0;
}

.progress-line-box:nth-of-type(2) {
  left: calc(50% - 10px);
}

.progress-line-box:nth-of-type(3) {
  right: 0;
}

/*----------------------------------------------------------*/


@media (max-width: 768px) {
  .grid-form {
    grid-template-columns: 1fr;
  }

  .col {
    height: 100%;
    width: 100%;
  }
}