/* .input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #000;
} */

.flex {
    display: flex;
}

.justify-sb {
    justify-content: space-between;
}

.x-center {
    display: flex;
    justify-content: center
}

.collection-item {
    text-align: left
}

.m-lr-auto {
    margin: 0 auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}