body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 15px 0;
  border: 1px solid rgba(231, 231, 231, 0.664);
  padding: 15px 25px;
}
.grid {
  display: grid;
}
.wizard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.a {
  background: #4893f5;
}
.container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.error {
  color: red;
}
.col {
  height: 100vh;
  width: 100%;
}
.col-con {
  width: 100%;
}
.item-head {
  margin-bottom: 10px;
  font-weight: 700;
}
.grid-confirm {
  grid-template-columns: 1fr;
}
.grid-form {
  grid-template-columns: 1fr 1fr;
}

.col-right {
  background-image: url("./assets/arm.jpg");
  background-size: cover;
  background-position: center;
}

.input-field {
  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  border: 1px solid rgba(231, 231, 231, 0.664);
  border-radius: 3px;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
}
input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:valid::before {
  display: none;
}

select {
  background: none;
}

button {
  font-weight: 600;
  font-size: 12px;
  max-height: 40px;
  padding: 13px 10px;
  min-width: 190px;
  text-decoration: none;
  text-align: center;
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4893f5, #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4893f5, #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button:disabled {
  background: grey;
}

.ml-20 {
  margin-left: 20px !important;
}
@media (max-width: 768px) {
  .grid-form {
    grid-template-columns: 1fr;
  }
}
